html, body   {
    height: 100%;
    margin: 0;
}

header {
    background:#0066ff;
    color: white;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

header h1 a, header h1 a:hover {
    text-decoration: none;
    color: white
}

footer {
    width: 100%;
    background: #595959;
    color: white;
    padding: 0.5em;
}

.aside-block {
    margin: 0.5em;
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.aside-block h3 {
   margin-left: 1em;
}

.aside-block ul {
    position: relative;
    left: -0.6em;
}

.aside-block input {
    margin-left: 1em;
    margin-right: 1em;
}

#content {
    padding-bottom: 2em;
    min-height: 100%;
}

.meta {
    padding-bottom: 1.5em;
    padding-top: 0.5em;
    color: #585858;
}

.meta .tags {
    position: relative;
    float: left;
}

#flask-powered {
    padding-top:0.5em;
    margin-right:1.5em;
    padding-bottom: 1.5em;
}